* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Header Notification */

.header__notification {
  background-color: #1967d2;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__notification-text,
.header__notification-link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
}

/* Header */

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo-link {
  width: 24px;
  height: 24px;
}

.header__logo {
  width: 100%;
  height: 100%;
}

.header__nav-list {
  display: flex;
  gap: 20px;
}

.header__nav-link {
  color: #3c4043;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.header__actions-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__action {
  width: 24px;
  height: 24px;
}

.header__action-item {
  width: 100%;
  height: 100%;
}

/* Hero */

.hero {
  background-image: url(./img/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 600px;
}

.hero__block {
  height: 100%;
  padding-left: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  width: 350px;
}

.hero__title {
  color: #3c4043;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 2px;
}

.hero__text {
  color: #3c4043;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 22px 0;
}

.hero__action {
  color: #3c4043;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 20px;
}

.hero__action:nth-child(1) {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #3c4043;
}

/* Recommended Product */

.recommended-products {
  padding: 90px 0;
}

.recommended-products__title {
  color: #3c4043;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 90px;
}

.recommended-product__box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.recommended-product__box {
  width: 185px;
}

.recommended-product__box-image-wrapper {
  border-radius: 20px;
  background: #f8f9fa;
}

.recommended-product__box-image {
  width: 100%;
}

.recommended-product__box-name {
  color: #3c4043;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 20px;
}

/* Give aways */

.give-aways {
  padding: 90px 0;
}

.give-aways__block {
  display: flex;
  align-items: center;
  gap: 110px;

  border-radius: 28px;
  background: #f8f9fa;
}

.give-aways__image {
  width: 616px;
  height: 616px;
}

.give-aways__content {
  width: 390px;
}

.give-aways__title {
  color: #3c4043;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: 0.5px;
  margin-bottom: 26px;
}

.give-aways__text {
  color: #3c4043;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 30px;
}

.give-aways__action {
  color: #1967d2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Sales */

.sales {
  padding: 90px 0;
}

.sales__box-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}

.sales__box {
  width: 100%;
  text-align: center;
  border-radius: 28px;
  background-color: #e9e3db;
  padding-top: 20px;
  overflow: hidden;
}

.sales__box--span-2 {
  grid-column: span 2;
}

.sales__box--span-3 {
  grid-column: span 3;
}

.sales__box:nth-child(4) {
  background-color: #d6e2db;
}

.sales__box:nth-child(5) {
  background-color: #efddcd;
}

.sales__box:nth-child(6) {
  background-color: #f3f2f1;
}

.sales__box:nth-child(7) {
  background-color: #e7ebee;
}

.sales__box-title {
  color: #3c4043;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 15px;
  padding: 0 50px;
}

.sales__box-subtitle {
  color: #3c4043;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  padding: 0 50px;
}

.sales__box-link {
  color: #202124;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 0 20px;
  border-radius: 4px;
  border: 2px solid #5f6368;
  background-color: transparent;
}

.sales__image {
  width: 100%;
  height: 460px;
  margin-top: 28px;
}
